<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Бесплатные объявления</h1>
    {% if advertisement_list %}
    <ul>
        {% for advertisement in advertisement_list %}
        <li>
            <div>
                <a href="/advertisements/{{ advertisement.id }}">{{ advertisement.title }}</a> | Цена: {{ advertisement.price }} руб. | Категория: {{ advertisement.category }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Объявлений нет.</p>
    {% endif %}
</body>
</html>