<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Статьи</title>
</head>
<body>
  <h1>Статьи:</h1>
  {% if articles %}
    {% for article in articles %}
      <article>
        <h2>{{ article.title }}</h2>
        <p>Дата публикации: {{ article.pub_date }}</p>
        <p>Автор: {{ article.author.name }}</p>
        <p>Категория: {{ article.category.name }}</p>
        <p>Тэги: {% for tag in article.tags.all %} {{ tag }} {% endfor %}</p>
      </article>
    {% endfor %}
  {% else %}
    <h2>Статей пока нет.</h2>
  {% endif %}
</body>
</html>