{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}{% endblock title %}
  </title>
</head>
<body>
  <header>
    <a href="{% url 'shop:account' %}">{% trans "Личный кабинет" %}</a>
    <a href="#">{% trans "Выйти" %}</a>
    <a href="#">{% trans "Регистрация" %}</a>

    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <select name="language">    
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
              </option>
          {% endfor %}
      </select>
      <input type="submit" value="Go">
    </form>
  </header>
  {% block main %}{% endblock main %}
</body>
</html>