{% extends "app_blogs/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Блоги" %}
{% endblock%}

{% block body %}
    <h1>{% trans "Блоги" %}:</h1>
    {% if blogs %}
        {% for blog in blogs %}
            <p>{{ blog.created }} / {{ blog.content|truncatechars:100 }} / {% trans "Автор" %}: {{ blog.author.username }} <a href="{% url 'app_blogs:detail' pk=blog.pk %}">{% trans "Подробнее" %}</a></p>
        {% endfor %}
    {% else %}
        <h2>{% trans "Блогов нет" %}</h2>
    {% endif %}
    <br>
    <a href="{% url 'app_blogs:create' %}">{% trans "Создать" %}</a>
    <br>
    <a href="{% url 'app_blogs:upload_file_csv' %}">{% trans "Загрузить из файла csv" %}</a>
{% endblock %}
